
.form-input{
  padding: 0;
  margin: 0;
}

.form-button {
  border: solid black 1.5px;
  /* background-color: #b0f2b4; */
  background-color: #b5e4f2;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

.form-button:hover {
  box-shadow: 0 1px 10px #b5e4f2;
}


/* .inputField:hover{ background-color: #ffee93 } */
.inputField:hover{ 
  background-color: white;
  border: solid 2px #b5e4f2;
}

.inputField:focus{ 
  background-color: white;
  border: solid 3px #b5e4f2;
}

.form{
  display: flex;
  flex-direction: column;
}


.form-errors{
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  padding-top: 10px;
  font-size: 0.75em;
  color: #ff8b94;
}