.user-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
}

.user-splash{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


.white-filler-box{
  height: 650px;
}