.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  padding: 20px;
  background-color: white;
  border: solid black 2px;
  box-shadow: 0 1px 10px white;
  border-radius: 10px;
  min-height: 200px;
  min-width: 200px;
}

#modal-image {
  position: absolute;
}

#modal-image > * {
  width: 51.6vw;
  height: 39vw;
  border: solid 2px black;
  border-radius: 20px;
  box-shadow: 0 1px 10px white;
}

/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Media                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
@media (max-width: 850px){
  #modal-content{ width: 75%; }
}

@media (max-width: 700px) {
  .property-page{ width: 70%; }
  .property-header{ flex-direction: column; }
  .property-header-left{ align-items: center; }
  .property-header-left > h1{ font-size: 1.5em; }
  .property-header-left > h3{ font-size: 1em; }
  .property-header-right{ align-items: center; }
}