.footer-links{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #e3e3e3;
  border-top: solid lightgray 1px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 97;
}

.footer > *{
  text-decoration: none;
  color: #2c8bff;
}

.footer > * :visited{
  color: #2c8bff;
}

.footer-links{
  
}
