.footer{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;
  background-color: #e3e3e3;
  border-top: solid lightgray 1px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  text-decoration: none;
  color: black;
  z-index: 97;
}

.footer:visited{
  color: black;
}
