.review-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-header{
  display: flex;
  flex-direction: row;
}

.review-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-data-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.review-data-line{
  display: flex;
  flex-direction: row;
}

.review-list-container{
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 100%;
  border-top: solid black 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.review-detail{
  border: solid black 1px;
  border-radius: 2px;
}