.review-container{
  display: flex; flex-direction: column;
  justify-content: space-evenly;
  width: 100%; margin-left: auto; margin-right: auto;
  padding-top: 1em; padding-bottom: 1em;
}

.review-data-container{
  display: flex; flex-direction: column;
  justify-content: center;
  width: 90%; margin-left: auto; margin-right: auto;
  border: solid black 0.1em; border-radius: 0.5em;
  box-shadow: 0 0.05em 0.5em rgb(104, 104, 104); 
  margin-bottom: 1em; padding: 1em;
}

.data-header{
  width: 20%; margin-left: auto; margin-right: auto;
  display: flex; flex-direction: row; align-items: center;
  justify-content: center;
  border: solid black 0.1em; 
  margin-bottom: 1em; padding-bottom: 1em;
}

.review-nav{ display: flex; flex-direction: row; justify-content: space-between; }

.review-list-container{
  display: flex; flex-direction: column;
  height: 100%; width: 50%;
  border: solid black 0.1em; 
  margin-bottom: 1em; padding-bottom: 1em;
}

.review-list-container{
  width: 90%; margin-left: auto; margin-right: auto;
  border: solid black 0.1em; border-radius: 0.5em;
  box-shadow: 0 0.05em 0.5em rgb(104, 104, 104); 
  margin-bottom: 1em; padding-bottom: 1em;
}

.data-line-container{
  display: flex; flex-direction: row;
  justify-content: space-evenly;
}

.review-data-line{
  display: flex; flex-direction: row;
  justify-content: center;
  width: 12em;
}

.review-data-line li { margin-left: 0.5em; margin-right: 0.5em; }
.review-star{ margin-right: 0.5em; }

#new-review-button{
  width: 7em; margin-left: auto; margin-right: auto;
  border: solid black 0.1em; border-radius: 0.5em;  
  margin-top: 1em;
  color: #005c0c;
}


.review-detail{
  display: flex; flex-direction: row;
  justify-content: space-between;
  border-radius: 0.1em;
  padding: 1em;
}

/* .review-list-right{ display: flex; flex-direction: column; } */
.review-list-right{ display: flex; flex-direction: row; }

.edit-delete{
  border-bottom: 0.1em solid black; border-top: 0.1em solid black;
  padding-bottom: 0.1em;
}


@media (max-width: 1050px){
  .review-data-line{ flex-direction: column; align-items: center; }
}