@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


*{
  /* background-color: rgb(200, 218, 255); */
  list-style: none;
  text-decoration: none;
  /* color: black; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family: 'Monserrat', sans-serif; */
}

/* * :visited{
  color: #2c8bff;
} */

body{
  margin: 0;
}


.form-input:hover {
  background-color: gray;
}

.form-button:hover {
  box-shadow: 0 1px 10px white;
}

form{
  display: flex;
  flex-direction: column;
}

.cards-container{
  display: flex;
  flex-direction: row;
}

.card{
  width: 100px;
  height: 150px;
  border: solid black 2px;
  border-radius: 3px;
  text-align: center;
  margin: 5px;
}


.card:hover {
  border: solid gray 2px;
  /* box-shadow: 0px 50px 20px 2px black; */
  box-shadow: 0 1px 10px gray;
  color: gray;
  transform: translateY(-20px);
}

.card-header{
  width: 100px;
  height: 50px;
  border-bottom: solid black 2px;
}


#brown {
  /* background-color: saddlebrown; */
  background-color: #ceb5a7;
}
#skyblue {
  /* background-color: skyblue; */
  background-color: #b5e4f2;
}
#orchid {
  /* background-color: darkorchid; */
  background-color: #deaaff;
}
#orange {
  /* background-color: orange; */
  background-color: #ffbf81;
}
#red {
  /* background-color: red; */
  background-color: #ff8b94;
}
#yellow {
  /* background-color: yellow; */
  background-color: #ffee93;
}
#green {
  /* background-color: green; */
  background-color: #b0f2b4;
}
#blue {
  /* background-color: blue; */
  background-color: #5aa9e6;
}


.filler-box{
  height: 500px;
  background-color: white;
  border: solid navy 1px;
}