*{
  background-color: rgb(200, 218, 255);
  list-style: none;
  text-decoration: none;
  
}

.blu{
  background-color: rgb(200, 218, 255);
}
.wheat{
  background-color: wheat;
}

.nav-bar{
  box-shadow: 0 1px 10px gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-nav{
  display: flex;
  flex-direction: row;
}

.form-input:hover {
  background-color: gray;
}

.form-button:hover {
  box-shadow: 0 1px 10px white;
}


form{
  display: flex;
  flex-direction: column;
}

.cards{
  display: flex;
  flex-direction: row;
}

.card{
  width: 100px;
  height: 150px;
  border: solid black 2px;
  border-radius: 3px;
  text-align: center;
  margin: 5px;
}


.property-card{
  width: 200px;
  height: 150px;
  border: solid black 2px;
  border-radius: 3px;
  text-align: center;
  margin: 5px;
}

.card:hover {
  border: solid white 2px;
  box-shadow: 0 1px 10px white;
  color: white;
  transform: translateY(-20px);
}

.card-header{
  width: 100px;
  height: 50px;
  border-bottom: solid black 2px;
}

#brown {
  background-color: saddlebrown;
}
#skyblue {
  background-color: skyblue;
}
#orchid {

  background-color: darkorchid;}
#orange {

  background-color: orange;
}#red {

  background-color: red;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;}