.splash-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 50%; */
  /* border: 2px solid black; */
  border-radius: 2px;
  background-color: black;
  color: white;
}


#splash-image{
  width: 70%;
  height: 70%;
  opacity: 80%;
  border-radius: 20px;
}

@media (max-width: 560px){
  #splash-image{
    width: 100%;
    height: 100%;
    opacity: 60%;
  }
}

@media (min-width: 561px) and (max-width: 1120px){
  #splash-image{
    width: 95%;
    height: 95%;
    opacity: 70%;
  }
}

@media (min-width: 1121px) and (max-width: 1680px){
  #splash-image{
    width: 85%;
    height: 85%;
    opacity: 80%;
  }
}


.floating-message{
  z-index: 5;
}
