#brown {
  background-color: saddlebrown;
}
#skyblue {
  background-color: skyblue;
}
#orchid {
  background-color: darkorchid;}
#orange {
  background-color: orange;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;}