#brown {
  /* background-color: saddlebrown; */
  background-color: #ceb5a7;
}
#skyblue {
  /* background-color: skyblue; */
  background-color: #b5e4f2;
}
#orchid {
  /* background-color: darkorchid; */
  background-color: #deaaff;
}
#orange {
  /* background-color: orange; */
  background-color: #ffbf81;
}
#red {
  /* background-color: red; */
  background-color: #ff8b94;
}
#yellow {
  /* background-color: yellow; */
  background-color: #ffee93;
}
#green {
  /* background-color: green; */
  background-color: #b0f2b4;
}
#blue {
  /* background-color: blue; */
  background-color: #5aa9e6;
}