

.nav-bar{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-top{
  background-color: black;
  color: white;
}

.nav-top a{
  color: white;
}

.nav-not-top{
  background-color: white;
  box-shadow: 0 1px 10px white;
  color: black;
}

.nav-not-top a{
  color: black;
}


.right-nav{
  display: flex;
  flex-direction: row;
}

/* .profile-dropdown{
  z-index: 3;
} */